# linKKaran Protocol: The Invisible Shield
# ----------------------------------------

# Environment Secrets (Sapu Jagad)
.env
*.env.local
config/secrets.json
auth_key.txt

# Back-end Logs & System
*.log
npm-debug.log*
.DS_Store

# Dependencies
node_modules/
dist/
build/
